<div class="container text-center">
    <h1>This is about page</h1>
    <p>We are DevMatch. Our company focuses on creating and exclusive community
    for developers and enterpreneures to meet. 
    </p>
</div>